venv/
.env
turing-lyceum-435603-k1-a78de1d6fe81.json
client_secret_944617682742-09hd1g7ve533hf7303epc8lnatqudr1f.apps.googleusercontent.com.json
credentials/
.gitignore
*.pyc
index.html.bak
*.bak
__pycache__
*.bak

# Project specific
file_data.json
file_notes.json
!authorized_emails.json

# Sensitive files
*.key
*.pem
*.cert
*.crt
secret*
